:root {
  --white: #fff;
  margin-top: 60px;
}

.section {
  width: 100vw;
  margin-bottom: 100px;
  
}

.section ul {
  list-style: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-content: center;
}

.flex--small-gap {
  gap: 1rem;
}

.flex--large-gap {
  gap: 2rem;
}

.section li {
  text-align: left;
  cursor: pointer;
  
}

.section li a {
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--white);
<<<<<<< HEAD
}
=======
}
>>>>>>> e709ed5 (Committing changes to images, styles, and components)
