.flexBoxHorizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.flexBoxHorizontal img {
  width: 25vw;
  height: 25vw; 
  object-fit: cover;
}
