/* src/components/Hero.css */
.hero {
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
